<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bomb egnition</title>
</head>

<body>
    <h5>this site is dedicated to seting off a small explosive charge</h5>

    <form action="/detonate" method="post">
        <select name="location">
            {% for bomb in bombs %}
            <option value={{bomb}}>{{bomb}}</option>
            {% endfor %}
        </select>
        <button>detonate</button>
    </form>

</body>

</html>