<!DOCTYPE html>

<html>

<head>
    <h1>tablica</h1>
</head>

<body>
    <form method="post" action="http://localhost:5000/find">
        <input placeholder="nazwisko" name="last_name">
        <button type="submit">find</button>
    </form>

    <h2>avg {{ average }}</h2>
    <h2>min {{ min }}</h2>
    <h2>max {{ max }}</h2>

    <table>
        <tr>
            <td>ID</td>
            <td>Last Name</td>
            <td>First Name</td>
            <td>Salary</td>
        </tr>

        {% for user in data %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.salary }}</td>
        </tr>
        {%endfor %}

    </table>
</body>

</html>